body {
    background-color: rgb(92, 16, 29);
    text-align: center;
    
   
}

h1 {
    
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(247, 232, 232);
    opacity: 50%;
    text-align: center;
    
}


.box {
    display: inline-flex;
    background-color: whitesmoke;
    height: 10em;
    width: 30em;
}

.button {
    display: inline-flex;
    text-align: center;
    background-color: pink;
    border-radius: 25%;
    border: 2px solid green;
    height: 40px;
    width: 40px;
    font-size: 2em;
    font-weight: 300;
    font-family: cursive;
    padding: 5px;
    margin: 10px;
}


.container {
    display: flexbox;
    align-items: center;
}

#result {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;

}